duckdb==1.0.0
pyarrow==12.0.1
streamlit-chat==0.0.1
streamlit==1.37.1
pandas==2.2.2
numpy==1.26.4
numpy-financial==1.0.0
plotly==5.23.0
scikit-learn==1.5.1
pymupdf==1.24.9
chromadb==0.5.5
sentence-transformers==3.0.1
vaderSentiment==3.3.2
pulp==2.9.0
python-dotenv==1.0.1
